<nav class="navbar navbar-expand-lg navbar-dark purple">
    <font face="Papyrus"><a class="navbar-brand" href="{% url 'index' %}">Imperial Cuisines</a></font>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <font face="Papyrus"><a class="nav-link" href="{% url 'about' %}">About Us</span></a></font>
        </li>
        <li class="nav-item">
          <font face="Papyrus"><a class="nav-link" href="{% url 'menu' %}">Menu</a></font>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <font face="Papyrus"><a class="nav-link" href="{% url 'order' %}">Place an Order!</a></font>
        </li>
      </ul>
    </div>
  </nav>