{% extends "customer/base.html" %}
{% block content %}

<div class="cart">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-5">
                <font face="Papyrus"><h1 class="text-center"><u>Your Active Orders</u></h1></font>
                {% if items %}
                <b><u><font face="Papyrus"><h6 class="text-center">Please Pay Either Credit Card or Cash on Arrival/Delivery!</h6></font></u></b>
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                        <tr>
                            <th scope="col"><font face="Papyrus">Name</th></font>
                            <th scope="col"><font face="Papyrus">Description</th></font>
                            <th scope="col"><font face="Papyrus">Price</th></font>
                        </tr>
                        </thead>
                    <tbody>
                        {% for item in items %}
                    <tr>
                      <td><font face="Papyrus">{{ item.name }}</font></td>
                      <td><font face="Papyrus">{{ item.description }}</font></td>
                      <td><font face="Papyrus">{{ item.price }}</font></td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <font face="Papyrus"><h4 class="text-center">Sorry, you have not ordered any items yet!</h4></font>
            {% endif %}
        </div>
    </div>

    <head>
        <style type="text/css">
          body {
            background-color: black;
            color: white;
          }
          </style>
      </head>

<form action="{% url 'order-details' order_id %}" method="POST">
    {% csrf_token %}
    <font face="Papyrus"><h3 class="text-center">Need To Change Your Delivery Address?</h3></font>
        <n/> 
        <font face="Papyrus"><p class="text-center">Fill Out The Form Below With The New Address To Change It!</p></font>
        <font face="Papyrus"><p class="text-center">Note: No need to alarm, once you push the button to submit your updated address, it will automatically be sent to our system. No further action is needed, unless you want to go back and place another order, you may do so! We deeply apologize, that we're not able to make changes, update orders online. Please call us at <u>555-555-1234</u> to make that change. Thank you!</p></font>
    <div class="row justify-content-center">
    {{ order_form.as_p }}
    <font face="Papyrus"><input class="btn btn-purple button-update" type="submit" value="Update Order Address"></font>
    </div>
</form>

<form method="POST" class="form-group"> 
    {% csrf_token %}
        <font face="Papyrus"><h3 class="text-center">Click To Cancel Your Order</h3></font>
        <n/> 
        <font face="Papyrus"><p class="text-center">Note: To confirm that your order has been Cancelled, you will automatically be redirected to our Homepage.</p></font>
        <div class="row justify-content-center">
        <font face="Papyrus"><a href="{% url 'delete-order' order_id %}" class="btn btn-red button-delete">Cancel Order</a></font>
    </div>
</form>
{% endblock content %}