{% extends "customer/base.html" %}
<!-- {% load static %} -->
{% block content %}

<!-- {% for item in items %}
<p>{{item.name}}</p>
{% endfor %} -->


<div class="cart">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-5">
                <font face="Papyrus"><h3 class="text-center">Active Orders</h3></font>
                {% for item in items %}
                <font face="Papyrus"><p>{{item.name}}</p></font>
                {% endfor %}

                {% if items %}
                <font face="Papyrus"><h4 class="text-center">Total Bill Amount: {{ item.price }} Orders.</h4></font>
                <font face="Papyrus"><h6 class="text-center">Please Pay Either Credit Card or Cash on Arrival/Delivery!</h6></font>
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                        <tr>
                            
                            <font face="Papyrus"><th scope="col">Name</th></font>
                            <font face="Papyrus"><th scope="col">Description</th></font>
                            <font face="Papyrus"><th scope="col">Price</th></font>
                        </tr>
                        </thead>
                    <tbody>
                        {% for item in items %}
                    <tr>
                     
                        <font face="Papyrus"><td>{{ item.name }}</td></font>
                        <font face="Papyrus"><td>{{ item.description }}</td></font>
                        <font face="Papyrus"><td>{{ item.price }}</td></font>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <font face="Papyrus"><h4 class="text-center">Sorry, you have not ordered any items yet!</h4></font>
            {% endif %}
        </div>
    </div>
                
<!-- <form method="post" class="form-group">
    {% csrf_token %}
    <div class="row justify-content-center">
        <h3 class="text-center">Click To Cancel Your Order</h3>
        {% comment %} <a href="{% url 'delete_order' %}"> {% endcomment %}
        <button class='btn btn-red button-delete' type="submit">Delete Order</button>
        </a>
    </div>
</form> -->

<!-- <a href="{% url 'update-order' order_id %}" class="btn btn-purple button-update">Update Order</a> -->
<form method="POST" class="form-group"> 
    {% csrf_token %}
    <div class="row justify-content-center">
        <font face="Papyrus"><h3 class="text-center">Click To Update Your Order➡️</h3></font>
        <!-- {% comment %} <a href="{% url 'update_order' order_id %}"> {% endcomment %} -->
            <font face="Papyrus"><a href="{% url 'update-order' order_id %}" class="btn btn-purple button-update">Update Order</a></font>
        </a>
    </div>
</form>


<!-- <a href="{% url 'delete-order' order_id %}" class="btn btn-red button-delete">Cancel Order</a> -->


<form method="POST" class="form-group"> 
    {% csrf_token %}
    <div class="row justify-content-center">
        <font face="Papyrus"><h3 class="text-center">Click To Cancel Your Order➡️</h3></font>
        <!-- {% comment %} <a href="{% url 'update_order' order_id %}"> {% endcomment %} -->
        <!-- <button class='btn btn-red button-update' type="submit">Delete Order</button> -->
        <font face="Papyrus"><a href="{% url 'delete-order' order_id %}" class="btn btn-red button-delete">Cancel Order</a></font>
        </a>
    </div>
</form>
{% endblock content %}