{% extends 'customer/base.html' %} 
{% block content %}
<div class="container mb-5">
  <div class="row justify-content-center mt-1">
    <div class="col-md-12 col-sm-12 p-4">
      <form method="POST">
        {% csrf_token %}
        <div class="pt-5">
          {% for app in appetizers %}
          <div class="row">
            <div class="col-md-2 col-sm-12">
              <img class="rounded"src="{{ app.image.url }}" width="150" height="100"/>
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="d-flex flex-row">
                <div class="form-group form-check">
                  <input type="checkbox" name="items[]" class="form-check-input" value="{{ app.pk }}"/>
                  <font face="Papyrus"><label class="form-check-label">{{ app.name }} </label></font>
                </div>
                <font face="Papyrus"><p class="font-weight-bold pl-5" font-family="Papyrus">{{ app.price }}</p></font>
              </div>
              <font face="Papyrus"><p>{{ app.description }}</p></font>
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>

        <div class="pt-5">
          {% for entree in entrees %}
          <div class="row mt-4">
            <div class="col-md-2 col-sm-12">
              <img
                class="rounded"
                src="{{ entree.image.url }}"
                width="150"
                height="100"
              />
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="d-flex flex-row">
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    name="items[]"
                    class="form-check-input"
                    value="{{ entree.pk }}"
                  />
                  <font face="Papyrus"><label class="form-check-label">{{ entree.name }}</label></font>
                </div>
                <font face="Papyrus"><p class="font-weight-bold pl-5" font-family="Papyrus">{{ entree.price }}</p></font>
              </div>
              <font face="Papyrus"><p>{{ entree.description }}</p></font>
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>

        <div class="pt-5">
          {% for dessert in desserts %}
          <div class="row mt-4">
            <div class="col-md-2 col-sm-12">
              <img class="rounded" src="{{ dessert.image.url }}" width="150" height="100"/>
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="d-flex flex-row">
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    name="items[]"
                    class="form-check-input"
                    value="{{ dessert.pk }}"
                  />
                  <font face="Papyrus"><label class="form-check-label">{{ dessert.name }}</label></font>
                </div>
                <font face="Papyrus"><p class="font-weight-bold pl-5" font-family="Papyrus">{{ dessert.price }}</p></font>
              </div>
              <font face="Papyrus"><p>{{ dessert.description }}</p></font>
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>

        <div class="pt-5">
          {% for drink in drinks %}
          <div class="row mt-4">
            <div class="col-md-2 col-sm-12">
              <img class="rounded" src="{{ drink.image.url }}" width="150" />
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="d-flex flex-row">
                <div class="form-group form-check">
                  <input type="checkbox" name="items[]" class="form-check" value="{{drink.pk}}"/>
                  <font face="Papyrus"><label class="form-check-label">{{ drink.name }}</label></font>
                </div>
                <font face="Papyrus"><p class="font-weight-bold pl-5">{{ drink.price }}</p></font>
              </div>
              <font face="Papyrus"><p>{{ drink.description }}</p></font>
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>

        <div class="form-group pt-3">
          <font face="Papyrus"><label for="name">Full Name</label></font>
            <font face="Papyrus"><input required class="form-control" type="text" placeholder="Your Name" name="name" /></font>
        </div>

        <div class="form-group pt-3">
          <font face="Papyrus"><label for="name">Email Address</label></font>
            <font face="Papyrus"><input required class="form-control" type="text" placeholder="imperial@imperial.com" name="email" /></font>
        </div>

        <div class="form-group pt-3">
          <font face="Papyrus"><label for="name">Street Address</label></font>
            <font face="Papyrus"><input required class="form-control" type="text" placeholder="4321 Imperial St" name="street" /></font>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="form-group pt-3">
                <font face="Papyrus"><label for="name">City</label></font>
                  <font face="Papyrus"><input required class="form-control" type="text" placeholder="Seattle" name="city" /></font>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="form-group pt-3">
              <font face="Papyrus"><label for="name">State</label></font>
                <font face="Papyrus"><input required class="form-control" type="text" placeholder="WA" name="state" /></font>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="form-group pt-3">
              <font face="Papyrus"><label for="name">Zip Code</label></font>
                <font face="Papyrus"><input required class="form-control" type="text" placeholder="96753" name="zip" /></font>
            </div>
        </div>
    </div>

    <head>
      <style type="text/css">
        body {
          background-color: black;
          color: white;
        }
        </style>
    </head>

    <font face="Papyrus"><button type="button" class="btn btn-purple" data-toggle="modal" data-target="#submitModal">
      Submit Order
    </button></font>

    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <font face="Papyrus"><h5 class="modal-title" id="submitModalLabel"><font color="black">Are You Sure You Would Like To Submit Your Order?</h5></font>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <font face="Papyrus"><button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button></font>
            <font face="Papyrus"><button type="submit" class="btn btn-dark">Yes, Submit My Order!👍</button></font>
          </div>
        </div>
      </div>
    </div>
      </form>
    </div>
  </div>
</div>
  {% endblock content %}
</div>
